<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let todo of (todos$ | async)">
        <ion-list>
          <ion-item (click)="showItem(todo.id)">
            <ion-label>{{todo.title}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let item of planets?.results">
        <ion-list>
          <ion-item>
            <ion-label>{{item.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
